# .env.example

# Django settings
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# CORS
CORS_ALLOW_ALL_ORIGINS=True
# For production, set CORS_ALLOW_ALL_ORIGINS=False and specify allowed origins below
CORS_ALLOWED_ORIGINS=https://yourdomain.com,https://anotherdomain.com

# Database
DATABASE_URL=postgres://username:password@host:port/dbname

# Secret Key
SECRET_KEY=your-secret-key
